/* style1.css */
/* p 태그 전체 선택 */
p {
    color: #ff0000;
    line-height: 2.0;   /* box model은 줄 간격이 먹힘*/
}

/* 클래스 선택자(.) : class="highlight" */
/* class attribute는 여러 개의 요소를 하나로 묶을 때 사용 예. selector.html의 highlight 클래스*/
.highlight {
    background-color: #fff9c4;
    padding: 4px 5px 6px 7px;   /*시계방향*/
    border: 4px solid #f4c430;
}

/* 아이디 선택자(#) : id="intro"인 요소에 적용 */
#intro {
    font-size: 1.5rem;  /*1.5배*/
    color: #1a73e8;     /* <p>의 color를 overriding함.*/
    font-style: italic;
}